@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body{
    width: 100%;
    margin:0;
    background-color: #FFF5DE;
    font-family: 'Pathway Gothic One', sans-serif;
}

h2 {
    font-weight: lighter;
    font-size: 30px;
    font-family: 'Pathway Gothic One', sans-serif;
}

h1 {
    font-weight: lighter;
    font-family: 'Pathway Gothic One', sans-serif;
}

header{
    width: 100%;
    margin:0;
    background-color: white;
}

#navi ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-start; 
    list-style: none;
    width:70%;
    margin-right: 2%;
    margin-left: 20px;
    margin-top: 40px;
}

#navi li{
    margin-left: 5%;
}

#navi a{
    text-decoration: none;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#navi{
    top: 0;
    display: flex;
    justify-content:center; 
    width: 100%;
    height: 150px;
    align-items: center;
    overflow: hidden;
    background-color: white;
    transition: 0.4s;
    position: fixed;
    z-index: 99;
}

#navi input {  /* Pour la barre de recherche */
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 5px;
    width: 400px;
    margin-top: 20px;
}


header img{
    height: 100px;
    transition: 0.4s;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}

#navi li a:hover{
    color: #fff;
    padding:5px;
    background-color: #AD2C2C;
    border: solid 1px #AD2C2C;
    border-radius: 20px;
    font-weight: bolder;
}

#navi button {
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    background-color: #FFBD59; 
    color: #000; 
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px; 
    margin-left: 100px;
    margin-right: 50px;
    margin-top: 20px;
}

#navi button:hover {
    background-color: #F89500;
}

/* fin du hearder */

#banniere {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 150px;
}

#banniere img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 100% 0;
}

#banniere #texte {
    position: absolute;
    top: 428px;
    left: 250px;
    transform: translate(-50%, -50%);
    color: #fff; 
    font-size: 24px; 
    background-color: rgba(0, 0, 0, 0.8); /* Ajoute un fond noir avec 50% d'opacité */
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.ariane {
    position: absolute;
    top: 680px;
    margin-left: 20px;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.ariane a {
    text-decoration: none;
    color: #000000;
}

.ariane a:hover {
    color: #AD2C2C;
    font-weight: bolder;
}

.intro #titre {
    height: 150px;
    margin-top: 200px;
}

.intro #titre h1 {
    padding-top: 30px;
    font-size: 40px;
    margin-top: 50px;
}

.intro img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.legende p {
    display: flex;
    justify-content: end;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 20px;
    font-size: 10px;
}

.intro {
    margin-top: 50px;
}

.titre-article h1 {
    padding-top: 20px;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 40px;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #004AAD;
    color: #fff;
}

.article p {
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
    font-size: 18px;
    font-weight: lighter;
}

.article .texte {
    width: 50%;
}

.article img {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jaune {
    background-color: #FFBD59;
    width: 100%;
    margin:0;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.jaune svg {
    margin-left: 50px;
}

.jaune p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.bas {
    display: flex;
    flex-direction: row;
}

.res {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.res svg {
    margin-right: 50px;
    margin-left: 5px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}


#titre {
    margin-top: 100px;
    text-align: center;
    background-color: #004AAD;
    height: 70px;
    color: #fff;
}

#titre h1 {
    padding-top: 10px;
    font-size: 40px;
}


#actualites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
}

#actualites > div {
    flex: 1; /* Cela assure que chaque div prendra la même quantité d'espace */
}

.actu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.actu img {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit:cover;
    border-radius: 30px 30px 0% 0%;
    margin:0;
    height: 300px;
}

.actu .texte {
    color: #000;
    background-color: #FFBD59;
    padding-top: 10px;
    width: 100%; 
    border-radius: 0% 0% 30px 30px;
}

.actu .texte p {
    margin: 10px 20px 20px 20px;
}

.don {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.don p {
    font-size: 20px;
    width: 400px;
    text-align: center;
}

.don button {
    display:flex;
    flex-direction: row;
    justify-content: flex-end; 
    background-color: #FFBD59; 
    color: #000; 
    border: none; 
    padding: 10px 50px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 25px;
    cursor: pointer;
    border-radius: 30px; 
    margin-top: 20px;
}

.don button:hover {
    background-color: #F89500;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 270px;
    background-color: #FFBD59;
    margin-top: 100px;
}

footer input {
    height: 30px;
    width: 300px;
    border: solid 1px #fff;
    border-radius: 5px;
}

footer button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: #004AAD;
    color: #fff;
    text-align: center;
    margin:0;
    margin-top: 20px;
    padding:0;
}

.new {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.f2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f2 h2 {
    margin-bottom: 25px;
}

.f1 p {
    position: relative;
    bottom: -50px;
    margin-left: -60px;
    margin-bottom: 20px;
}

.f1 {
    margin-left: 20px;
}

.f3 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img{
    height: 120px;
    transition: 0.4s;
    margin-top: 40px;
    margin-left: -10px;
    
}

#reseaux {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

#reseaux svg {
    margin-left:20px;
    margin-right:20px;
}