body{
  width: 100%;
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #FFF5DE;
}
header{
  width: 100%;
  margin:0;
  background-color: white;
}

#navbar ul{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  width:70%;
  margin-right: 2%;
  margin-left: 20px;
  /* margin-top: 40px; */
}

#navbar li{
  margin-left: 5%;
}

#navbar a{
  text-decoration: none;
  color: #000000;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#navbar{
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
  background-color: white;
  height: 150px;
  transition: 0.4s;
  position: fixed;
  z-index: 99;
}

#navbar input {  /* Pour la barre de recherche */
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 5px;
  width: 400px;
  /* margin-top: 20px; */
}


header img{
  height: 100px;
  transition: 0.4s;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  
}

#navbar li a:hover{
  color: #fff;
  padding:5px;
  background-color: #AD2C2C;
  border: solid 1px #AD2C2C;
  border-radius: 20px;
  font-weight: bolder;
}

#navbar button {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #FFBD59;
  color: #000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 100px;
  margin-right: 50px;
  /* margin-top: 20px; */
}

/* fin du hearder */

#banniere {
  position: relative;
  width: 100%;
  height: 650px;
  margin-top: 150px;
  overflow: hidden;
}

#banniere img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 100% 0;
}

#banniere #texte {
  position: absolute;
  bottom: 0;
  
  color: #fff; 
  font-size: 24px; 
  background-color: rgba(0, 0, 0, 0.8); /* Ajoute un fond noir avec 50% d'opacité */
  padding: 20px;
}

#actions {
  position: relative;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 1000px;
  margin-top: 150px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin:0;
}


.action .texte {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #004AAD;
  color: #fff;
  border-radius: 0% 30px 30px 0%;

}

.action .texte p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.action .image img {
  height: 100%;
  border-radius: 30px 0% 0% 30px;
}

.texte2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #004AAD;
  color: #fff;
  border-radius: 30px 0% 0% 30px;

}

.texte2 p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.image2 img {
  height: 100%;
  border-radius: 0% 30px 30px 0%;
}

#titre {
  margin-top: 170px;
  text-align: center;
  background-color: #004AAD;
  height: 50px;
  color: #fff;
}

#titre h1 {
  padding-top: 10px;
}


#actualites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  margin-bottom: 100px;
}

#actualites > div {
  flex: 1; /* Cela assure que chaque div prendra la même quantité d'espace */
}

.actu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.actu img {
  display: flex;
  justify-content: center;
  width: 100%;
  object-fit:cover;
  border-radius: 30px 30px 0% 0%;
  margin:0;
  height: 300px;
}

.actu .texte {
  color: #000;
  background-color: #FFBD59;
  padding-top: 10px;
  width: 100%; 
  border-radius: 0% 0% 30px 30px;
}

.actu .texte p {
  margin: 10px 20px 20px 20px;
}

.don {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.don p {
  font-size: 20px;
  width: 400px;
  text-align: center;
}

.don button {
  display:flex;
  flex-direction: row;
  justify-content: flex-end; 
  background-color: #FFBD59; 
  color: #000; 
  border: none; 
  padding: 10px 50px; 
  text-align: center; 
  text-decoration: none; 
  font-size: 25px;
  cursor: pointer;
  border-radius: 30px; 
  margin-top: 20px;
}





/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 250px;
  background-color: #FFBD59;
  margin-top: 100px;
}

footer input {
  height: 30px;
  width: 300px;
  border: solid 1px #fff;
  border-radius: 5px;
}

footer button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: #004AAD;
  color: #fff;
  text-align: center;
  margin:0;
  margin-top: 20px;
  padding:0;
}

.f3 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.f2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f2 p {
  position: relative;
  bottom: -70px;
}

.f1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.f1 p {
  margin-bottom: 75px;
  text-decoration: underline;
}

.f1 a {
  text-decoration: none;
  color: #000000;
}

#reseaux {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}